.owner{

		margin-top: 12px;

		caption{
			font-size: 17px;
			text-align: left;
			align-items: left;
		}

		tr{
			th{
				text-align: left;
				padding: 2px 0px;
			}
			td{
				padding: 2px 0px;
			}
		}
}